@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700&amp;subset=latin-ext" rel="stylesheet'); 

:root {
    --main-color: lightcyan;
    font-family: 'Hind Siliguri', sans-serif;
}
style {
    display: none;
}

body {
    background-image: url(pilt.png);
    background-position: top;
    background-attachment: fixed;
}
header {
    color: darkblue;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
}
main {
    background-image: cross-fade(pink);
    background-attachment: scroll;
    text-align: justify;
    text-align-last: left;
}
h3 > p {
    background-color: rgb(37, 30, 20);
}
div {
    align-content: right;
}
footer {
    text-align: center;
}